@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/earlyaccess/sawarabigothic.css');
body {
    color: #424242;
    font-size: 14px;
    font-family: 'Roboto Mono', 'Sawarabi Gothic', monospace;
    text-shadow: none;
    line-height: 2.1em;
    letter-spacing: 0.05em;
    position: relative;
    z-index: 0;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

section h1 {
    font-size: 18px;
}

input[type^="button"] {
    -webkit-appearance: none;
    background-color: #FFF;
    color: #78a6e4;
    font-weight: bold;
    border: none;
}

button {
    -webkit-appearance: none;
    background-color: #FFF;
    color: #78a6e4;
    font-weight: bold;
    border: none;
}

#wrapper {
    height: 300vh;
    position: relative;
}

.page {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #F5F5F5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    flex-direction: column;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.card {
    padding: 10px;
    margin-bottom: 20px;
    max-width: 90vw;
    background-color: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

header {
    width: 100%;
    padding: 5px 0;
    background-color: #F5F5F5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    color: #A1A1A1;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
}

canvas {
    width: 80%;
}

#top {
    z-index: 3;
}

#graph {
    z-index: 2;
}

#graph h1 {
    text-align: center;
}

#setting {
    z-index: 1;
}

#state_btn {
    background-color: #FFF;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 40vh;
    text-align: center;
    line-height: 40vh;
    vertical-align: middle;
}

#btn_text {
    font-size: 100px;
}

#state_label_box {
    text-align: center;
}

#global_nav {
    font-size: 14px;
    color: #A1A1A1;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 5;
}

#global_nav .nav {
    display: none;
}

.nav+label::before {
    margin-right: 5px;
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.nav:checked+label {
    color: #78a6e4;
}

.nav:checked+label::before {
    margin-right: 5px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #78a6e4;
}

#todo_text {
    -webkit-appearance: none;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 7px 5px;
    border: none;
    border-bottom: 1px solid #78a6e4;
}

#set_todo {
    padding: 7px 20px;
}

#location_update_btn {
    margin-top: 5px;
    padding: 7px 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

#location_update {
    text-decoration: none;
    color: #78a6e4;
}

#location_update:checked {
    color: #78a6e4;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    height: 2px;
    width: 60%;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.26);
    vertical-align: middle;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #78a6e4;
    border-radius: 50%;
}

#modal-contents {
    padding: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    overflow: scroll;
    background-color: #F5F5F5;
    z-index: 11;
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba( 0, 0, 0, 0.75);
    z-index: 10;
}


#modal-contents2 {
    padding: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    overflow: scroll;
    background-color: #F5F5F5;
    z-index: 11;
}

#modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba( 0, 0, 0, 0.75);
    z-index: 10;
}

.fadeIn {
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}